
<div class="musica">
<%= image_tag "allforevilone.jpg" %>
<div class="musicainfo">
	<b>"All For Evil One"</b><br /><br />
	1 Infidel Forebears<br />
	2 Demonized<br />
	3 The Avenger<br /> 
	4 Zero<br />
	5 My Angel<br /> 
	6 Innocent Tears Of Blood<br />
	7 Fuckin Bitch<br />
	8 All For Evil One<br /> 
	9 Black Spirit<br />
	10 Where The Corpses Lay<br /> 
	11 Kill Your Gods<br />
	12 The night Of The Living Torches<br />
	13 Bonus track - In Service Of Death<br />
	
</div>
</div>

<div class="limpiarf"></div>
<br />

<div class="musica">
<%= image_tag "claimyourholythrone.jpg" %>
<div class="musicainfo">
	<b>"Claim Your Holy Throne"</b><br /><br />
	Soon To Be Released...<br />

</div>
</div>