<div id="catvideo">

<div id="video">
	<iframe width="320" height="215" src="http://www.youtube.com/embed/1aYl7dgfFck" frameborder="0" allowfullscreen></iframe>


<iframe width="320" height="215" src="http://www.youtube.com/embed/7kE_NN4l0iA" frameborder="0" allowfullscreen></iframe>

<center><a href="http://www.youtube.com/user/EGMONTMETAL?feature=mhee">EGMONT TV</a></center>

</div>

</div>